fiona
geopandas
geopy
icecream
pillow
prompt-toolkit # for lizard monitor
pynmea2
# rosys == v0.25.0
rosys @ git+https://github.com/zauberzeug/rosys.git@e45b88eba10c65942c3797e9b1833097db574d16
shapely
uvicorn == 0.28.1
